/* AboutMe.css */

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

.gamja-flower-regular {
  font-family: 'Gamja Flower', sans-serif;
}

.polaroid {
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: relative;
  display: inline-block;
  transform: rotate(-3deg); /* 기울임 효과 */
  width: 400px; /* 폴라로이드의 너비 */
  height: 540px; /* 폴라로이드의 높이 */
  margin-bottom: 1rem; /* 이미지 하단 여백 */
}

.polaroid-right {
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: relative;
  display: inline-block;
  transform: rotate(3deg); /* 기울임 효과 */
  width: 340px; /* 폴라로이드의 너비 */
  height: 480px; /* 폴라로이드의 높이 */
  margin-bottom: 1rem; /* 이미지 하단 여백 */
}

.polaroid-left {
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: relative;
  display: inline-block;
  transform: rotate(-2deg); /* 기울임 효과 */
  width: 600px; /* 폴라로이드의 너비 */
  height: 540px; /* 폴라로이드의 높이 */
  margin-bottom: 1rem; /* 이미지 하단 여백 */
}

.polaroid img {
  display: block;
  width: 100%;
  height: auto;
}

.polaroid::after {
  content: '';
  display: block;
  height: 70px; /* 하단 여백의 높이 */
  background: white;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.polaroid-left::after {
  content: '';
  display: block;
  height: 80px; /* 하단 여백의 높이 */
  background: white;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.intro-text {
  max-width: 600px;
  padding-left: 6rem; /* 이미지와 텍스트 사이의 여백 */
}

.intro-text-left {
  max-width: 600px;
  padding-right: 6rem; /* 이미지와 텍스트 사이의 여백 */
}

.intro-text-right {
  max-width: 400px;
  padding-right: 6rem; /* 이미지와 텍스트 사이의 여백 */
}
