@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition:
    background-color 0.3s,
    color 0.3s; /* 부드러운 전환 효과 */
}

/* 로딩 화면 스타일 */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff1f2;
}

/* react-color의 기본 스타일을 추가 */
.react-colorful {
  display: flex;
  flex-direction: column;
}

.react-colorful__saturation,
.react-colorful__hue,
.react-colorful__alpha {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.react-colorful__saturation {
  border-radius: 4px;
  cursor: pointer;
}

.react-colorful__hue,
.react-colorful__alpha {
  border-radius: 2px;
  cursor: pointer;
}

/* 다크모드 스타일 추가 */
.dark {
  background-color: #262626; /* 다크 모드 배경색 */
  color: #f7f7f7; /* 다크 모드 텍스트 색상 */
}
