/* 일요일 날짜 색상 */
.fc-day-sun a {
  color: red;
}

/* 토요일 날짜 색상 */
.fc-day-sat a {
  color: blue;
}

/* 완료된 이벤트 */
.completed {
  text-decoration: line-through;
  color: gray;
}

/* 기본 버튼 스타일 */
.fc-button {
  border-radius: 5px;
  padding: 0.5em 1em;
  background-color: transparent;
}

/* 오늘 버튼 스타일 */
.fc-button.fc-today-button {
  background-color: #fda4af !important;
  color: #ffffff !important;
  border: none !important;
}

/* 오늘 버튼 호버 스타일 */
.fc-button.fc-today-button:hover {
  background-color: #fb7185 !important;
  transition-duration: 300ms;
}

/* 오늘 버튼 클릭 및 포커스 스타일 */
.fc-button.fc-today-button:focus,
.fc-button.fc-today-button:active {
  background-color: #fda4af !important;
  color: #ffffff !important;
  outline: none;
}

/* 이전 버튼과 다음 버튼 기본 스타일 */
.fc-button.fc-prev-button,
.fc-button.fc-next-button {
  background-color: #fda4af !important;
  color: #ffffff !important;
  border: none !important;
}

/* 이전 버튼과 다음 버튼 호버 스타일 */
.fc-button.fc-prev-button:hover,
.fc-button.fc-next-button:hover {
  background-color: #f43f5e !important;
  transition-duration: 300ms;
}

/* 월간, 주간, 일일 버튼 스타일 */
.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button {
  background-color: #fda4af !important;
  color: #ffffff !important;
  border: none !important;
}

/* 월간, 주간, 일일 버튼 호버 스타일  */
.fc-dayGridMonth-button:hover,
.fc-timeGridWeek-button:hover,
.fc-timeGridDay-button:hover {
  background-color: #f43f5e !important;
  transition-duration: 300ms;
}

/* 다크모드 */
/* 텍스트 색상 */
.dark {
  color: #f7f7f7;
}

/* 달력 보더 색상 */
.dark .fc-day {
  border: 1px solid #b0b0b0; /* 밝은 보더 색상 */
}

/* 일요일 날짜 색상 */
.dark .fc-day-sun a {
  color: #ff6b6b; /* 부드러운 빨간색 */
}

/* 토요일 날짜 색상 */
.dark .fc-day-sat a {
  color: #4d94ff; /* 연한 파란색 */
}

/* 완료된 이벤트 */
.dark .completed {
  text-decoration: line-through;
  color: #b0b0b0;
}

/* 현재 날짜 색상 */
.dark .fc-day-today {
  background-color: #333333 !important;
}

/* 오늘 버튼 스타일 */
.dark .fc-button.fc-today-button {
  background-color: #757575 !important;
  color: #e0e0e0 !important;
  border: none !important;
}

/* 오늘 버튼 호버 스타일 */
.dark .fc-button.fc-today-button:hover {
  background-color: #616161 !important;
}

/* 이전, 다음 버튼 스타일 */
.dark .fc-button.fc-prev-button,
.dark .fc-button.fc-next-button {
  background-color: #757575 !important;
  color: #e0e0e0 !important;
  border: none !important;
}

/* 이전, 다음 버튼 호버 스타일 */
.dark .fc-button.fc-prev-button:hover,
.dark .fc-button.fc-next-button:hover {
  background-color: #616161 !important;
}

/* 월간, 주간, 일일 버튼 스타일 */
.dark .fc-dayGridMonth-button,
.dark .fc-timeGridWeek-button,
.dark .fc-timeGridDay-button {
  background-color: #757575 !important;
  color: #e0e0e0 !important;
  border: none !important;
}

/* 월간, 주간, 일일 버튼 호버 스타일 */
.dark .fc-dayGridMonth-button:hover,
.dark .fc-timeGridWeek-button:hover,
.dark .fc-timeGridDay-button:hover {
  background-color: #616161 !important;
  transition-duration: 300ms;
}
